{% extends './base.html.twig' %}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block body %}

<h2 > Le Resultat de ma division est   </h2>

<h1 id="result" > </h1>

{% endblock %}
