@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);

h2 {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
}

h1 {
  color: #0167b8;
  letter-spacing: 0;
  font-size: 4em;
  text-transform: none;
}